@inherits LayoutComponentBase
@using Student.Components

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">


    <div class="content px-4">
        @Body
    </div>
</div>
<div class="sidebar"><StudentListComponent></StudentListComponent></div>
