@page "/assignments"

@using Student.Components

<h3>ClassRoom</h3>

<button >
    <NavLink class="nav-link" href="seatingchart">
        Seating Chart
    </NavLink>

</button>
<button >
    <NavLink class="nav-link" href="assignments">
        Assignments
    </NavLink>

</button>
<AssignmentComponent></AssignmentComponent>

@code {

}
