@page "/classroom"
@using Student.Components

<h3>ClassRoom</h3>

<button class="btn btn-outline-dark active">
    <NavLink class="nav-link btn-group-toggle" href="seatingchart">
        Seating Chart
    </NavLink>

</button>
<button @onclick="switchView">
    <NavLink class="nav-link" href="assignments">
        Assignments
    </NavLink>

</button>

<SeatingChartComponent></SeatingChartComponent>


@code {

    private Boolean state = true;



    private void switchView()
    {

    }



}
