@page "/StudentDetail/{id:int}"

@using Student.Services
@using Student.Models
@using Student.Components
@using Student.ViewModels

<h1>@viewModel.student.Name</h1>
<br/>
<h3>Notes:</h3>

@foreach (var note in viewModel.student.Notes)
{
    <p>@note.Content</p>
}

<input type="text"
       placeholder="New Note"
       @bind="viewModel.newComment" />
<button class="btn btn-secondary"
        type="submit"
        @onclick="viewModel.addNote"  >Add Note</button>
<div class="text-danger">@viewModel.errorAlert</div>
<StudentListComponent></StudentListComponent>


@code {
    [Parameter]
    public int id {get; set;}


    private StudentDetailViewModel viewModel;


    protected override void OnParametersSet()
    {
        var studentRepository = StudentRepository.GetRepository(); // #badcode

        viewModel = new StudentDetailViewModel(studentRepository,id);

    }
    protected override void OnInitialized()
    {
        OnParametersSet();
    }


}