@page "/StudentDetail/{id:int}"

@using Student.Services
@using Student.Models
@using Student.Components
@using Student.ViewModels

@inject StudentDetailViewModel vm

<h1>@vm.Student.Name</h1>
<br/>
<h3>Notes:</h3>

@foreach (var note in vm.GetNotes())
{
    <p>@note.Content</p>
}

<input type="text"
       placeholder="New Note"
       @bind="vm.newNote" />
<button class="btn btn-secondary"
        type="submit"
        @onclick="vm.addNote">Add Note</button>
<div class="text-danger">@vm.errorAlert</div>
<!-- <StudentListComponent></StudentListComponent> -->


@code {
    [Parameter]
    public int id {get; set;}

    protected override void OnParametersSet()
    {
        vm.LoadStudent(id);
    }

    protected override void OnInitialized()
    {
        OnParametersSet();
    }


}