@page "/StudentDetail/{id:int}"

@using Student.Services
@using Student.Models
@using Student.Components
@using Student.ViewModels

@inject StudentDetailViewModel vm

<h1>@vm.Student.Name</h1>
<br/>
<h3>Notes:</h3>

<div class="jumbotron centered" >
    @foreach (var note in vm.GetNotes())
    {
        <p>@note.Content</p>
    }
</div>

<input type="text"
       placeholder="New Note"
       @bind="vm.NewNote" />
<button class="btn btn-secondary"
        type="submit"
        @onclick="vm.AddNote">Add Note</button>
<br />
<input type="radio" name="SignIt" value="Sign it?" checked/>Sign it
<input type="radio" name="SignIt" value="Dont sign it?" />Dont sign it
<div class="text-danger">@vm.errorAlert</div>


<br/>
<h3>Restrictions:</h3>
<ul class="jumbotron centered">
    @foreach(var restriction in vm.GetRestrictions())
    {
    <li>@restriction.Name</li>
    }
</ul>

<input type="number"
       @bind="vm.NewRestrictionId" />
<button class="btn btn-secondary"
        type="submit"
        @onclick="vm.AddRestriction">Add Restriction</button>

<button class="btn btn-secondary"
        type="submit"
        @onclick="vm.AddRestriction">
    Remove Restriction
</button>


@code {
    [Parameter]
    public int id {get; set;}

    protected override void OnParametersSet()
    {
        vm.LoadStudent(id);
    }

    protected override void OnInitialized()
    {
        OnParametersSet();
    }


}