



<AuthorizeView>

    <NotAuthorized>
        <div class="jumbotron centered">
            <h2>To view this page Login or Register</h2>
            <div class="loginBox">
                <a  href="Identity/Account/Register">Register</a>
                <a  href="Identity/Account/Login">Log in</a>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
