@using TeddyBlazor.Models
@using TeddyBlazor.Services
@using TeddyBlazor.ViewModels

@inject StudentListViewModel vm

<h3>StudentList</h3>

<input type="text"
        @bind-value="vm.NameFilter" 
        @bind-value:event="oninput"/>

@foreach (var student in vm.GetFilteredStudents())
{
 <div><a class="btn btn-secondary" href="/StudentDetail/@student.StudentId">@student.StudentName</a></div>
}


@code {

    protected override async Task OnInitializedAsync()
    {
        await vm.StudentRepository.UpdateStudentsAsync();
    }
}
