@page "/ClassDetail/{classId:int}"

@using TeddyBlazor.Models
@using TeddyBlazor.Services
@using TeddyBlazor.Components
@using TeddyBlazor.Components.ClassDetailComponents
@using TeddyBlazor.ViewModels.ClassDetail

@inject ClassDetailViewModel vm

<div class="top-row px-4" style="background-color: lightslategray;">
</div>

<div class="jumbotron centered">
    <h3>Classdetail</h3>


    <ClassDetailNavigationComponent SelectTab="@vm.SelectTab"></ClassDetailNavigationComponent>

    <div class="jumbotron centered">
        <div class="@vm.SeatingChartCssClass">
            <SeatingChartComponent SelectedClass="@vm.SelectedClass">
            </SeatingChartComponent>
        </div>
        <div class="@vm.CourseCssClass">
            <CourseListComponent></CourseListComponent>
        </div>

    </div>
    </div>

    @code {

        [Parameter]
        public int classId { get; set; }

        protected override void OnInitialized()
        {
            vm.Reload = () => this.StateHasChanged();
            vm.OnInitialized();
        }

        protected override async Task OnInitializedAsync()
        {
            await vm.OnInitializedAsync();
        }

        protected override void OnParametersSet()
        {
            vm.ClassId = classId;
            vm.OnParametersSet();
        }

        protected override async Task OnParametersSetAsync()
        {
            vm.ClassId = classId;
            await vm.OnParametersSetAsync();
        }
    }
