@page "/classlist"
@using TeddyBlazor.Models
@using TeddyBlazor.Services
@using TeddyBlazor.ViewModels
@using TeddyBlazor.Components
@using TeddyBlazor.Components.ClassDetailComponents

@inject ClassListViewModel vm

<AuthorizeView>
    <Authorized>


        <div class="top-row px-4" style="background-color: lightslategray;">
        </div>
        <div class="jumbotron centered">
            <h1>Classes</h1>

            <hr>

            <div id="ClassCardWrapper" class="d-flex align-content-start flex-wrap">
                @foreach (var classModel in vm.Classes)
                {
                    <ClassCardComponent ThisClass="@classModel"></ClassCardComponent>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>

        <div class="top-row px-4" style="background-color: lightslategray;">
        </div>

        <LoginDisplay2 />
    </NotAuthorized>
</AuthorizeView>


@code {

    protected override void OnInitialized()
    {
        vm.OnInitialized();
    }
    protected override async Task OnInitializedAsync()
    {
        await vm.OnInitializedAsync();
    }
    protected override void OnParametersSet()
    {
        vm.OnParametersSet();
    }
    protected override async Task OnParametersSetAsync()
    {
        await vm.OnParametersSetAsync();
    }
}
