@page "/classroom"
@using TeddyBlazor.Components

<h3>ClassRoom</h3>

<button class="btn btn-dark active">
    <NavLink class="nav-link btn-group-toggle" href="seatingchart">
        Seating Chart
    </NavLink>

</button>
<button class="btn btn-dark">
    <NavLink class="nav-link" href="assignments">
        Assignments
    </NavLink>

</button>

<div class="jumbotron centered"><SeatingChartComponent></SeatingChartComponent></div>


@code {

    private Boolean state = true;



    private void switchView()
    {

    }



}
