@page "/courselist"
@using TeddyBlazor.Models
@using TeddyBlazor.Services
@using TeddyBlazor.ViewModels
@using TeddyBlazor.Components

@inject CourseListViewModel vm

<AuthorizeView>
    <Authorized>
        <div class="top-row px-4" style="background-color: lightslategray;">
            <h1>Courses</h1>
        </div>
        <div class="jumbotron centered">
            <div id="ClassCardWrapper" class="d-flex align-content-start flex-wrap">
                @foreach (var course in vm.Courses)
                {
                    <a class="nav-link" href="/CourseDetail/@course.CourseId">
                        <div class="card"
                            style="width: 18rem;">
                            <div class="card-header">
                                @course.CourseName
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="top-row px-4" style="background-color: lightslategray;"></div>
        <LoginDisplay />
    </NotAuthorized>
</AuthorizeView>


@code {

    protected override void OnInitialized()
    {
        vm.OnInitialized();
    }
    protected override async Task OnInitializedAsync()
    {
        await vm.OnInitializedAsync();
    }
    protected override void OnParametersSet()
    {
        vm.OnParametersSet();
    }
    protected override async Task OnParametersSetAsync()
    {
        await vm.OnParametersSetAsync();
    }
}
