@page "/students"
@using TeddyBlazor.Components

<div class="top-row px-4" style="background-color: lightslategray;">
</div>
<div class="jumbotron centered">
    <StudentListComponent></StudentListComponent>
</div>

@code {

}
