@inherits LayoutComponentBase
@using TeddyBlazor.Components

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">


    <div class="content px-4">
        @Body
    </div>
</div>
<div class="sidebar"><TeddyBlazorListComponent></TeddyBlazorListComponent></div>
