@using Student.Models
@using Student.Services
@using Student.ViewModels

@inject StudentListViewModel vm

<h3>StudentList</h3>

@foreach (var student in vm.Students)
{
 <div><a class="btn btn-secondary" href="/studentdetail/@student.StudentInfoId">@student.Name</a></div>
}


@code { 

    protected override async Task OnInitializedAsync()
    {
    }

}
