@using Student.Models
@using Student.Services

<h3>StudentList</h3>

@foreach (var student in StudentRepository.GetStudents())
{
 <div><a class="btn btn-secondary" href="/studentdetail/@student.ID">@student.Name</a></div>
}


@code { 
    private StudentRepository StudentRepository;

    protected override async Task OnInitializedAsync()
    {
        StudentRepository = StudentRepository.GetRepository();
    }

}
