@inherits LayoutComponentBase
@using TeddyBlazor.Components

    <div class="sidebar">
        <div class="top-row px-4" style="background-color: lightslategray;"></div>
            <NavMenu/>
        </div>

        <div class="main">
            <div class="top-row px-4" style="z-index: 100;">
                <LoginDisplay/>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank"></a>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
        <div class="sidebar">
            <div class="top-row px-4" style="background-color: lightslategray;">
            </div><StudentListComponent></StudentListComponent>
        </div>
