@using TeddyBlazor.Models
@using TeddyBlazor.Services
@using TeddyBlazor.Components
@using TeddyBlazor.ViewModels.ClassDetail
@using System.Collections.Generic

@inject ClassDetailCourseListViewModel vm


@foreach(var course in vm.Courses)
{
    <a class="nav-link" href="/CourseDetail/@course.CourseId"  style="float: left">
        <div class="card"
            style="width: 15rem;">
        <div class="card-header">
            @course.CourseName
        </div>
        <ul class="list-group list-group-flush">
            @foreach(var studentName in vm.GetStudentNamesByCourse(course.CourseId))
            {
                <li class="list-group-item">@studentName</li>
            }
        </ul>
        </div>
    </a>
}
@code
{
    [Parameter]
    public int classId { get; set; }

    protected override void OnInitialized()
    {
        vm.OnInitialized();
    }
    
    protected override async Task OnInitializedAsync()
    {
        await vm.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        vm.OnParametersSet();
    }

    protected override async Task OnParametersSetAsync()
    {
        vm.ClassId = classId;
        await vm.OnParametersSetAsync();
    }
}