@page "/StudentDetail/{id:int}"

@using TeddyBlazor.Services
@using TeddyBlazor.Models
@using TeddyBlazor.Components
@using TeddyBlazor.ViewModels

@inject StudentDetailViewModel vm

<h1>@vm.Student.StudentName</h1>
<br/>
<h3>Notes:</h3>

@foreach (var note in vm.GetNotes())
{
    <p>@note.Content</p>
}

<input type="text"
       placeholder="New Note"
       @bind="vm.NewNote" />
<button class="btn btn-secondary"
        type="submit"
        @onclick="vm.AddNote">Add Note</button>
<div class="text-danger">@vm.errorAlert</div>


<br/>
<h3>Restrictions:</h3>
<ul>
    @foreach(var restriction in vm.GetRestrictions())
    {
        <li>@restriction.StudentName</li>
    }
</ul>

<input type="number"
       @bind="vm.NewRestrictionId" />
<button class="btn btn-secondary"
        type="submit"
        @onclick="vm.AddRestriction">Add Note</button>


@code {
    [Parameter]
    public int id {get; set;}

    protected override async Task OnParametersSetAsync()
    {
        await vm.LoadStudentAsync(id);
    }

    protected override async Task OnInitializedAsync()
    {
        await OnParametersSetAsync();
    }


}